@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CFT Estatal Arica y Parinacota</h1>
    <h2>¡Bienvenido al Registro de Notas!</h2>
    <img src="~/css/logo_cft.jpg" height="200" width="300"/>
    <p><a href="http://localhost:5226/estudiantes" class="btn btn-outline-primary">Estudiantes</a></p>
    <p><a href="http://localhost:5226/asignaturas" class="btn btn-outline-success">Asignaturas</a></p>
</div>
